{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>Для создания сайта применялись python, в основном модуль django
    Чуть-чуть sqlite и html конечно же. 
    Работает на молитве и добром слове, так-что осторожно. 
    Создатели сайта не несут ответственность за следующие проблемы при работе:
    понтанные возгарания, отравления, мигрень, резкое оплесневение пищи на столе, помутнение сознания.</p>
  </article>
</div>
{% endblock %} 